
.login{
  height: 100%;
  padding: 0;
  margin: 0;
  background: rgb(34,48,195);
  background: linear-gradient(29deg, rgba(34,48,195,1) 0%, rgba(18,43,111,1) 51%);
}
.logoImg{
  margin: 5px;
  width: 70%;
  object-fit: cover;
}
.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}


